<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1> URL Shortner</h1>
    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:3000/<%= id %> </p>
    <% } %>
    <div>
        <form method="POST" action="/url">
            <label>Enter Your Link </label>
            <input type="text"  name="url" required placeholder="https://google.com">
            <button type="submit" >Shorten</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S.no</th>
                    <th>ShortID</th>
                    <th>Orginal URl</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectUrl %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>
